@mixin paragraph-styles {
  p {
    margin-top: spacing(3);
  }
}

@mixin link-styles {
  a {
    color: color($theme-color-link);

    &:hover {
      color: color($theme-color-link-hover);
    }

    &:active {
      color: color($theme-color-link-active);
    }
  }
}

@mixin headings-styles {
  h1 {
    font-size: font-size(8);
  }

  h2 {
    font-size: font-size(7);
  }

  h3 {
    font-size: font-size(6);
  }
}
