@mixin paragraph-styles {
  p {
    margin-top: unit(2);
  }
}

@mixin link-styles {
  a {
    color: color($theme-color-link);

    &:hover {
      color: color($theme-color-link-hover);
    }

    &:active {
      color: color($theme-color-link-active);
    }
  }
}

@mixin headings-styles {
  h1 {
    font-size: font-size($theme-type-scale-2xl);
    line-height: line-height($theme-line-height-heading);
  }

  h2 {
    font-size: font-size($theme-type-scale-xl);
    line-height: line-height($theme-line-height-heading);
  }

  h3 {
    font-size: font-size($theme-type-scale-lg);
    line-height: line-height($theme-line-height-heading);
  }
}
