html {
  font-family: sans-serif;
}

body {
  font-family: $theme-font-type-sans;
  font-size: font-size($theme-body-font-size);
  line-height: line-height($theme-body-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
