$system-breakpoint: (
  phone: 340px,
  tablet: 640px,
  desktop: 1024px,
  widescreen: 1400px,
);

$system-type-scale: (
  1: 12px,
  2: 14px,
  3: 16px,
  4: 18px,
  5: 21px,
  6: 24px,
  7: 36px,
  8: 48px,
  9: 60px,
  10: 72px,
  11: 80px,
  12: 96px,
);

$system-letter-spacing: (
  1: -0.04em,
  2: -0.02em,
  3: normal,
  4: 0.1em,
  5: 0.2em,
  6: 0.4em,
  7: 0.8em,
  8: 1.2em,
  9: 1.6em,
);

$system-line-height: (
  1: 1,
  2: 1.25,
  3: 1.32,
  4: 1.5,
  5: 1.62,
  6: 1.75,
);

$system-spacing: (
  1: 4px,
  2: 8px,
  3: 16px,
  4: 32px,
  5: 64px,
  6: 96px,
);

$color-gray-1: #fcfcfc;
$color-gray-2: #f9f9f9;
$color-gray-3: #f6f6f6;
$color-gray-4: #f3f3f3;
$color-gray-5: #f0f0f0;
$color-gray-10: #e6e6e6;
$color-gray-20: #c9c9c9;
$color-gray-30: #adadad;
$color-gray-40: #919191;
$color-gray-50: #757575;
$color-gray-60: #5c5c5c;
$color-gray-70: #454545;
$color-gray-80: #2e2e2e;
$color-gray-90: #1b1b1b;

$color-gold-10: #f7f1de;
$color-gold-20: #eee0b9;
$color-gold-30: #e6d094;
$color-gold-40: #ddc06f;
$color-gold-50: #d3ae45;
$color-gold-60: #b6912b;
$color-gold-70: #886d20;
$color-gold-80: #5b4915;
$color-gold-90: #2d240b;
