$theme-font-type-mono: monospace;
$theme-font-type-sans: sans-serif;
$theme-font-type-serif: serif;

$theme-body-font-family: 3;
$theme-body-font-size: 3;
$theme-body-line-height: 4;

$theme-color-primary: $color-gold-40;

$theme-color-text: $color-gray-90;
$theme-color-text-inverse: $color-gray-1;
$theme-color-text-weak: $color-gray-40;
$theme-color-text-weak-hover: $color-gray-90;

$theme-color-background: $color-gray-1;
$theme-color-background-inverse: $color-gray-90;

$theme-color-link: $color-gold-50;
$theme-color-link-hover: $color-gold-60;
$theme-color-link-active: $color-gold-60;
