.home .section .content {
  margin-top: unit(4);
}

// About

.home .about .copy p {
  margin-top: unit(3);
  margin-bottom: unit(3);
}

.home .about.regular .copy {
  font-size: font-size($theme-type-scale-md);
  line-height: line-height($theme-line-height-extended);
}

.home .about.large .copy {
  font-size: font-size($theme-type-scale-lg);
  line-height: line-height($theme-line-height-body);
}

// Clients

.home .clients .client {
  display: inline;
  font-size: font-size-fluid(28);
  line-height: line-height($theme-line-height-ui);
  text-transform: uppercase;

  &:nth-of-type(odd) {
    color: color(gray-50);
  }

  &:nth-of-type(even) {
    color: color(gray-40);
  }
}

.home .clients .link {
  &:hover {
    color: color($theme-color-link-hover);
  }
}

// Featured

.home .featured-in .row {
  margin-left: unit(2) * -1;
  margin-right: unit(2) * -1;
}

.home .featured-in .col {
  padding-left: unit(2);
  padding-right: unit(2);
  padding-bottom: unit(2);
}

.home .featured-in .card {
  padding-top: unit(2);
  padding-bottom: unit(2);
  border-top-width: 2px;
  border-top-color: inherit;
  border-top-style: solid;
}

.home .featured-in .link {
  &:hover {
    color: color($theme-color-link-hover);
  }
}

.home .featured-in .publication {
  font-size: font-size($theme-type-scale-lg);
  font-weight: $theme-font-weight-bold;
  line-height: line-height($theme-line-height-heading);
}

.home .featured-in .title {
  margin-top: unit(1);
  font-size: font-size($theme-type-scale-md);
  line-height: line-height($theme-line-height-body);
}

// Services

.home .services .article {
  &:not(:last-child) {
    margin-bottom: unit(4);
  }

  @include at-media("tablet") {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.home .services .title {
  font-size: font-size($theme-type-scale-lg);
  line-height: line-height($theme-line-height-heading);
  text-transform: uppercase;
}

.home .services .list {
  margin-top: unit(2);
  line-height: line-height($theme-line-height-extended);

  @include at-media("tablet") {
    padding-right: unit(4);
  }
}

// Gear

.home .gear .copy {
  font-size: font-size($theme-type-scale-md);
  line-height: line-height($theme-line-height-extended);
}

// Consulting

.consulting .copy {
  font-size: font-size($theme-type-scale-lg);
  line-height: line-height($theme-line-height-body);
}

// Contact

.home .contact .big-link {
  color: color($theme-color-link);
  font-size: font-size-fluid(28);
  line-height: line-height($theme-line-height-ui);

  &:hover {
    color: color($theme-color-link-hover);
  }
}
