.section {
  padding-top: spacing(4);
  padding-bottom: spacing(4);
  @include content-styles;

  &--light {
    color: $theme-color-text;
    background: $theme-color-background;
  }

  &--dark {
    color: $theme-color-text-inverse;
    background: $theme-color-background-inverse;
  }
}
