.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: spacing($theme-site-margins-width);
  padding-right: spacing($theme-site-margins-width);

  &--constrain {
    max-width: breakpoint("tablet");
  }
}
